<div class="container mt-5 mb-5">
	<div class="row mb-3">
		<div class="col-md-12 text-center order-success">
			<img src="assets/images/success.png" class="mb-3">
			<h4>{{"common.orderplaced" | translate}}</h4>
		</div>
	</div>
	<div class="row order-details">
		<div class="col-md-5 ">
			<table class="table table-borderless responsive">
				<tbody>
					<tr>
						<td>Your Order Number is</td>
						<td>: 135672</td>
					</tr>
					<tr>
						<td>From</td>
						<td>: GoodLuck Retail Store</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<h5>Billing and Shipping Address is :</h5>
			<p>Aron Paul Heisenberg. Co
				<br /> 1 Civic Plaza #9084
				<br /> Albuquequre, New Maxico, 97102
				<br /> United States
			</p>
			<p>Ph: 888-45-765-10</p>
		</div>
	</div>
	<!--all -->
	<div class="row mt-5 justify-content-center place-order">
		<div class="col-md-9 text-right">
			<button class="btn btn-maroon" routerLink="/Products">Continue Shopping</button>
		</div>
	</div>
</div>